= content_for(:crumb) do
  .crumb
    %ul.breadcrumb
      %li= link_to(content_tag(:i, nil, class: 'icon16 i-home-4') + "首页", manage_root_path) + content_tag(:span, '/', class: 'divider')
      %li
        应用相关
        = content_tag(:span, '/', class: 'divider')
      %li.active 渠道数据统计

= content_for(:heading) do
  #heading.page-header
    %h1= content_tag(:i, nil, class: 'icon20 i-bars') + ' 渠道数据统计'

.row-fluid
  .span12
    .widget
      .widget-title
        .icon
          %i.icon20.i-table
        %h4 统计报表
      #channel_view.widget-content
        #dataTable_length.dataTables_length
          .controls.controls-row
            = form_tag(manage_charts_channel_view_path, class: 'form-horizontal', method: :get)
            .inline_select
              = select_tag "channel_id", options_for_select(@channels.map{|c| [c.name, c.to_param]}, selected: params[:channel_id]), :style => "width: 160px;"

            .datepicker.input-append.date{ "data-date-format" => "yyyy-mm-dd" }
              = text_field_tag "begin", params[:begin], size: 16, class: 'span9'
              %span.add-on
                %i.icon16.i-calendar-4
            .datepicker.input-append.date{ "data-date-format" => "yyyy-mm-dd" }
              = text_field_tag "end", params[:end], size: 16, class: 'span9'
              %span.add-on
                %i.icon16.i-calendar-4
            .inline_submit
              = submit_tag "查询", class: 'btn btn-primary'
        - if @devices_for_spreader
          = render "success_notification"
          = content_tag(:div, nil, data: { "channel-devices" => @devices_for_spreader.to_json }, id: "data_holder")
          - if @devices_for_spreader && !@devices_for_spreader.size.zero?
            #channel_devices_holder
          - if @devices_for_spreader.size.zero?
            .alert
              %string
                %i.icon24.i-warning
                抱歉！
              暂时没有用户数据或订单数据。
