.widget
  .widget-title
    .icon
      %i.icon20.i-stack-checkmark
    %h4 渠道信息

  .widget-content
    = simple_form_for [:manage, @channel], :html => { :class => 'form-horizontal' } do |f|
      = f.association :spreader, collection: Spreader.all, :label => "拥有者", label_method: :email, value_method: :id, include_blank: false
      = f.input :name, :label => "渠道名称"
      - if current_user.role?(:admin)
        = f.association :manager, collection: ChannelManager.all, :label => "渠道管理", label_method: :username, value_method: :id, include_blank: false
      = f.input :enabled, label: "有效"
      = f.input :price, label: "单价"
      = f.input :level, label: "级别", collection: 1..4, prompt: "选择级别"
      = f.input :auto_ratio, label: "自动扣量"
      .control-group.datetime.optional.rule_activate_at
        %label.datetime.optional.control-label
          自动扣量开始时间
        .controls.controls-row
          .datepicker.input-append.date{ "data-date-format" => "yyyy-mm-dd" }
            = f.text_field :auto_ratio_activate_at, size: 16, value: @channel.auto_ratio_activate_at
            %span.add-on
              %i.icon16.i-calendar-4

      .form-actions
        = f.button :submit, "保存", :class => 'btn btn-primary'
        = link_to '取消', :back, :class => 'btn'
