= content_for(:crumb) do
  .crumb
    %ul.breadcrumb
      %li= link_to(content_tag(:i, nil, class: 'icon16 i-home-4') + "首页", manage_root_path) + content_tag(:span, '/', class: 'divider')
      %li
        账单管理
        = content_tag(:span, '/', class: 'divider')
      %li.active 账单详细

= content_for(:heading) do
  #heading.page-header
    %h1= content_tag(:i, nil, class: 'icon20 i-stats-3') + " 账单/#{@account_bill.company}"
  = render partial: 'list'
%p
  -operate_label_array(@account_bill).each do |link|
    = link
#account_bill_info-form
