= content_for(:crumb) do
  .crumb
    %ul.breadcrumb
      %li= link_to(content_tag(:i, nil, class: 'icon16 i-home-4') + "首页", manage_root_path) + content_tag(:span, '/', class: 'divider')
      %li
        平台管理
        = content_tag(:span, '/', class: 'divider')
      %li.active 平台帐号

= content_for(:heading) do
  #heading.page-header
    %h1= content_tag(:i, nil, class: 'icon20 i-users-2') + "#{@platform.name}/帐号列表"
.row-fluid
  .span12
    .widget
      .widget-title
        .icon
          %i.icon20.i-table
        %h4 搜索
      .widget-content
        #channel-detail-search-wrap.controls.controls-row
          = form_tag(manage_platform_platform_accounts_path(@platform), method: :get) do
            .datepicker.input-append.date{ "data-date-format" => "yyyy-mm-dd" }
              = text_field_tag "begin", params[:begin], size: 16, class: 'span9'
              %span.add-on
                %i.icon16.i-calendar-4
            .datepicker.input-append.date{ "data-date-format" => "yyyy-mm-dd" }
              = text_field_tag "end", params[:end], size: 16, class: 'span9'
              %span.add-on
                %i.icon16.i-calendar-4
            .inline_submit
              = submit_tag "搜索", class: 'btn btn-primary'
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th 帐号名称
      %th 花费
      %th 操作
  %tbody
    - @platform_accounts.each do |account|
      %tr{class: draw_color_for_platform_account(params[:begin], params[:end], account)}
        %td.center= account.account_name
        %td.center= account.balance_total_by_time(params[:begin], params[:end])
        %td.center.vcenter
          .btn-group
            = link_to content_tag(:i, nil, class:'icon12 i-pencil') + ' 编辑', edit_manage_platform_platform_account_path(@platform, account), class: 'btn btn-mini'
            = link_to_with_date content_tag(:i, nil, class:'icon12 i-pencil') + ' 花费详情', manage_platform_platform_account_platform_balanceios_path(@platform, account), class: 'btn btn-mini'
            =link_to content_tag(:i, nil, class:'icon12 i-pencil') + "花费录入",new_manage_platform_platform_account_platform_balanceio_path(@platform, account), class: 'btn btn-mini'
= link_to '添加帐号', new_manage_platform_platform_account_path(@platform), class: 'btn btn-primary'
= link_to '返回', :back, class: 'btn btn-primary'
