.container
  .title-and-new
    %h3 广告策略
    .inline-form
      = link_to "新建",  new_manage_adv_setting_adv_tactic_path(@adv_setting), role: "button", :class => 'btn btn-primary'
#advtactics-list
-@adv_tactics.each do |adv_tactic|
  %p= "#{adv_tactic.to_label_with_notify}"
  -contents  = paratition_adv_contents adv_tactic, @adv_contents
  %table.table.table-hover
    %thead
      %tr
        %th.span2 广告题目
        %th.span2 广告描述
        %th.span2 广告APK
        %th.span2 操作
    %tbody
      - contents[0].each do |content|
        %tr
          %td= content.title
          %td= content.description
          %td= content.apk_sign
          %td
            = link_to content_tag(:i, nil, class:'icon12 i-pencil') + '取消关联', del_relationship_manage_adv_setting_adv_tactic_path(@adv_setting, adv_tactic, adv_content_id: content.id), class: 'btn btn-mini'
      - contents[1].each do |content|
        %tr
          %td= content.title
          %td= content.description
          %td= content.apk_sign
          %td

            = link_to content_tag(:i, nil, class:'icon12 i-pencil') + ' 关联', make_relationship_manage_adv_setting_adv_tactic_path(@adv_setting, adv_tactic, adv_content_id: content.id), class: 'btn btn-mini'
= link_to "新建",  new_manage_adv_setting_adv_tactic_path(@adv_setting), role: "button", :class => 'btn btn-primary'
= link_to "返回",  adv_settings_manage_application_path(@adv_setting.application), role: "button", :class => 'btn btn-primary'
