= content_for(:crumb) do
  .crumb
    %ul.breadcrumb
      %li= link_to(content_tag(:i, nil, class: 'icon16 i-home-4') + "首页", manage_root_path) + content_tag(:span, '/', class: 'divider')
      %li
        平台管理
        = content_tag(:span, '/', class: 'divider')
      %li.active 平台帐号

= content_for(:heading) do
  #heading.page-header
    %h1= content_tag(:i, nil, class: 'icon20 i-users-2')
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th 广告名称
      %th  开始时间
      %th 结束时间
      %th  操作
  %tbody
    - @adv_content_notifies.each do |notify|
      %tr
        %td.center= notify.adv_content.tag
        %td.center= notify.start_date
        %td.center= notify.end_date
        %td.center.vcenter
          .btn-group
            =link_to " 删除",manage_adv_content_account_notify_path(notify), method: :delete, class: 'btn btn-mini btn-danger'
