= content_for(:crumb) do
  .crumb
    %ul.breadcrumb
      %li= link_to(content_tag(:i, nil, class: 'icon16 i-home-4') + "首页", manage_root_path) + content_tag(:span, '/', class: 'divider')
      %li
        管理员相关
        = content_tag(:span, '/', class: 'divider')
      %li.active 平台用戶管理

= content_for(:heading) do
  #heading.page-header
    %h1= content_tag(:i, nil, class: 'icon20 i-profile') + ' 平台用戶管理'

= render :partial => 'form'
