= content_for(:crumb) do
  .crumb
    %ul.breadcrumb
      %li= link_to(content_tag(:i, nil, class: 'icon16 i-home-4') + "首页", manage_root_path) + content_tag(:span, '/', class: 'divider')
      %li
        财务相关
        = content_tag(:span, '/', class: 'divider')
      %li.active= @title

= content_for(:heading) do
  #heading.page-header
    %h1= content_tag(:i, nil, class: 'icon20 i-bars') + " " + @title

.row-fluid
  .span12
    .widget
      .widget-title
        .icon
          %i.icon20.i-table
        %h4= @title
      .widget-content
        - if @payments
          - if current_user.role?(:admin) && params[:admin] == "true"
            = form_tag(update_state_manage_payments_path, method: :patch)
            #payments_table_toolbar.table-toolbar.btn-toolbar
              .btn-group
                = link_to content_tag(:i, nil, class: 'icon12 i-checkbox-checked-2') + " 选择全部", '#', class: 'btn btn-small select-all'
                = link_to content_tag(:i, nil, class: 'icon12 i-checkbox-unchecked-3') + " 取消全选", '#', class: 'btn btn-small deselect-all'
              .btn-group.pull-right
                = hidden_field_tag 'state', nil
                = button_tag content_tag(:i, nil, class: 'icon12 i-cup') + " 处理中", type: :submit, class: 'btn btn-small btn-info change-state-btn', data: { confirm: "确定将这些交易单标记为处理中么？", state: 1 }
                = button_tag content_tag(:i, nil, class: 'icon12 i-network') + " 转账中", class: 'btn btn-small btn-warning change-state-btn', data: { confirm: "确定将这些交易单标记为转账中么？", state: 2 }
                = button_tag content_tag(:i, nil, class: 'icon12 i-checkmark-circle-2') + " 已结算", class: 'btn btn-small btn-success change-state-btn', data: { confirm: "确定将这些交易单标记为已结算么？", state: 3 }
                = button_tag content_tag(:i, nil, class: 'icon12 i-remove') + " 作废", class: 'btn btn-small btn-danger change-state-btn', data: { confirm: "确定将这些交易单标记为作废么？", state: 4 }

            %table.table.table-striped.table-bordered.checkAll
              %thead
                %tr
                  %th #
                  %th 日期
                  %th 提现交易号
                  %th 帐户信息
                  %th 提现金额
                  %th 税款扣除
                  %th 到账金额
                  %th 状态
              %tbody
                - @payments.each do |payment|
                  %tr

                    %td.center= check_box_tag("ids[]", payment.id, false, class: 'checkIt')
                    %td.center= payment.created_at.strftime('%Y-%m-%d')
                    %td.center= payment.transaction_number
                    %td.center
                      = link_to content_tag(:span, nil, class: 'icon20 i-vcard '), manage_user_path(payment.user), title: "帐号信息"
                    %td.center
                      %span.badge.badge-success= number_to_currency(payment.amount, unit: "", separator: ".") + " 元"
                    %td.center
                      %span.badge.badge-warning= number_to_currency(payment.tax, unit: "", separator: ".") + " 元"
                    %td.center
                      %span.badge.badge-success= number_to_currency(payment.payment_amount, unit: "", separator: ".") + " 元"
                    %td.center= show_payment_state(payment.state)
          - else
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th 日期
                  %th 提现交易号
                  %th 提现金额
                  %th 税款扣除
                  %th 到账金额
                  %th 状态
              %tbody
                - @payments.each do |payment|
                  %tr
                    %td.center= payment.created_at.strftime('%Y-%m-%d')
                    %td.center= payment.transaction_number
                    %td.center
                      %span.badge.badge-success= number_to_currency(payment.amount, unit: "", separator: ".") + " 元"
                    %td.center
                      %span.badge.badge-warning= number_to_currency(payment.tax, unit: "", separator: ".") + " 元"
                    %td.center
                      %span.badge.badge-success= number_to_currency(payment.payment_amount, unit: "", separator: ".") + " 元"
                    %td.center= show_payment_state(payment.state)
          .row-fluid
            .span4
              #dataTable_info.dataTables_info
                = page_entries_info @payments
            .span8
              .dataTables_paginate.paging_bootstrap.pagination
                = paginate @payments
