= content_for(:crumb) do
  .crumb
    %ul.breadcrumb
      %li= link_to(content_tag(:i, nil, class: 'icon16 i-home-4') + "首页", manage_root_path) + content_tag(:span, '/', class: 'divider')
      %li
        广告推广
        = content_tag(:span, '/', class: 'divider')
      %li.active 广告管理

= content_for(:heading) do
  #heading.page-header
    %h1= content_tag(:i, nil, class: 'icon12 i-pencil' ) + '创建账单信息'

= render 'form'
